        * { margin: 0; padding: 0; }
        body {
                font: 18px Georgia, Sans-Serif;
                line-height: 20px;
                background-image: url(motifs.jpg);
        }
        .clear {
                clear: both;
        }
        .général {
                width: 700;
                margin: 60px auto 80px;
        }
        .titre {
                margin: 0 0 18px 0;
                padding: 0 0 16px 0;
                font-size: 42px;
                font-weight: bold;
                letter-spacing: -2px;
                border-bottom: 1px solid #999;
        }
        .soustitres {
                font-size: 18px;
                margin: 0 0 6px 0;
                position: relative;
        }
        .date { position: absolute;
                bottom: 0;
                right: 0;
                font-style: italic;
                font-family: Georgia, Serif;
                font-size: 16px;
                color: #800;
                font-weight: normal;
        }
        .texte {
                margin: 0 0 16px 0;
        }
        .liens {
                color: black
        }
        .liens:hover {
                color: #900;
        }
        .liste {
                margin: 0 0 32px 17px;
        }
        .catégories {
                font-style: italic;
                font-weight: bold;
                font-size: 18px;
                text-align: right;
                padding: 0 26px 0 0;
                width: 150px;
                float: left;
                height: 100px;
                border-right: 1px solid #999;
        }
        .catégorieinterets {
                font-style: italic;
                font-weight: bold;
                font-size: 18px;
                text-align: right;
                padding: 0 26px 0 0;
                width: 150px;
                float: left;
                height: 100px
        }
		.paragraphes{
                width: 600px;
                float: right;
        }
        dd.clear {
                float: none;
                margin: 0;
                height: 15px;
        }
